body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

}

.card-size{
  width: 318px;
  height: 407px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: white;
}

a{
  color: black;
}

a:hover{
  color: black;
}